<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 空值 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<plugins>
		<!-- 分页拦截器 -->
		<plugin interceptor=".comm.mybatis.SQLInterceptor"></plugin>
	</plugins>
</configuration>